<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #ffffff;"></span>
    <span class="sg-label">
            $color-white <br />
            #ffffff
        </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #A8A8A8;"></span>
    <span class="sg-label">
			$color-gray-1 <br />
			#A8A8A8
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #919191;"></span>
    <span class="sg-label">
			$color-gray-2 <br />
			#919191
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #494949;"></span>
    <span class="sg-label">
			$color-gray-3 <br />
			#494949
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">
			$color-black <br />
			#000000
		</span>
  </li>
</ul>