<div class="accueil">
  {{> organismes-header1}} {{> organismes-header}} {{> organismes-hero1}} {{> atoms-zone-recherche}} {{> organismes-newsletter}} {{> organismes-cdc}} {{> organismes-articles}} {{> organismes-articles}} {{> organismes-footer1}} {{> organismes-footer2}}

</div>