.pictoheader{
    height: 35px;
    width: 35px;
    margin-right: 5px;
    margin-top: 25px;

}

.logo-blog{
    height: 235px;
    width: 235px;
}

.imagearticleaccueilimg{
    height: 295px;
    width: 295px;
}

.logo-ecv{
    height: 138px;
    width: 70px;
}

.logo-footer{
    height: 70px;
    width: 70px;
}