.titre-section{
    color : $color-white;
    font-size: 25px;
}

.legende-hero{
    font-family: $font-secondary;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    color: $color-white;
}

.auteur-hero{
    font-family: $font-secondary;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    color: $color-white;    
}

.legende-article-accueil{
    color : $color-dark-blue;
}

.header1{
    font-size : 20px;
    color: $color-white;        
}

.titre-cdc{
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 65px;
    color: $color-white;
}

.theme-cdc{
    font-weight: medium;
    font-size: 35px;
    color: $color-white;
}

.lieu-cdc{
    font-family: $font-secondary;
    font-size: 35px;
    color: $color-white;
}