<p class="legende-hero">« Jour après jour, il semble donc qu'à travers son accessibilité, sa quasi-exhaustivité, sa gratuité, sa diversité, le numérique offre les garanties d'un paysage culturel idéal. » </p>