<div>Primary font: "circular", sans-serif;</div>
<div><em>Primary font italic: "circular", sans-serif;</em></div>
<div><strong>Primary font bold: "circular", sans-serif;</strong></div>
<div class="font-secondary">Secondary font: Lora,serif;</div>
<div class="font-secondary"><em>Secondary font italic: Lora, serif;</em></div>
<div class="font-secondary"><strong>Secondary font bold; Lora, serif;</strong></div>