<div class="article">
  {{> atoms-article-accueil-img}}

  <div class="texte-article-preview">
    {{> atoms-legende-article-acceuil}} {{> atoms-ligne}} {{> atoms-paragraph-article-accueil}}
  </div>

</div>