<div class="footer1">

  <div class="logo-blog-footer">
    {{> atoms-logo-reversed}}
  </div>

  {{> atoms-logo-ecv}}

  <div class="contact">
    {{> atoms-header1}} {{> atoms-header1}}
  </div>

</div>